{
  "extends": ["airbnb", "prettier", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["import", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "radix": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["webpack.*.js"] }]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "env": { "jest": true, "browser": true, "es6": true, "node": true },
      "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": ["jest", "import", "prettier", "@typescript-eslint", "react-hooks"],
      "rules": {
        "import/extensions": ["error", "never"],
        "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
        "typescript-eslint/no-non-null-assertion": "off" // temporary
      },
      "settings": {
        "import/resolver": {
          "webpack": {
            "config": "webpack.main.config.js"
          }
        },
        "react": { "version": "detect" }
      }
    }
  ]
}
