@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: red;
}

.flex-basis-4 {
  flex-basis: 4;
}

.flex-basis-8 {
  flex-basis: 8;
}

.flex-basis-16 {
  flex-basis: 16;
}

.flex-basis-30 {
  flex-basis: 30;
}

.flex-basis-70 {
  flex-basis: 70;
}

.text-hidden {
  font-size: 0;
  line-height: 0;
}
