@tailwind base;

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
*/

button:focus {
  @apply outline-none;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.025);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/roboto-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/roboto-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'ReithSans';
  src: url(/BBCReithSans_W_Rg.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ReithSans';
  src: url(/BBCReithSans_W_Bd.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Ceefax';
  src: url('/bbcmode7.woff') format('woff'), url('/bbcmode7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind components;
@tailwind utilities;

.flex-basis-4 {
  flex-basis: 4px;
}

.flex-basis-8 {
  flex-basis: 8px;
}

.flex-basis-16 {
  flex-basis: 16px;
}

.flex-basis-30 {
  flex-basis: 30px;
}

.flex-basis-70 {
  flex-basis: 70px;
}

.text-hidden {
  font-size: 0;
  line-height: 0;
}
