div.container {
  display: 'flex';
  flex-direction: 'column';
  flex-grow: 1;
}

div.header {
  align-items: 'center';
  display: 'flex';
}
  
div.actions {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'flex-start';
}

  
  const NameH2 = glamorous.h2(
    {
      flexGrow: 1,
      fontSize: '32px',
      margin: '8px 0 4px 8px',
    },
    (props: { theme: ITheme }) => ({
      color: props.theme.primaryTextColour,
    }),
  );
  
  const RendererP = glamorous.p(
    {
      flexShrink: 0,
      fontSize: '16px',
      fontWeight: 'bold',
      lineHeight: '29px',
      margin: '4px 4px',
      padding: '0 8px',
    },
    (props: { theme: ITheme; backgroundColor: string; color: string }) => ({
      backgroundColor: props.backgroundColor,
      color: props.color,
    }),
  );
  
  const StateP = glamorous.p(
    {
      flexShrink: 0,
      fontSize: '16px',
      fontWeight: 'bold',
      lineHeight: '29px',
      margin: '4px 0',
      padding: '0 8px',
    },
    (props: { theme: ITheme }) => ({
      backgroundColor: props.theme.tertiaryBackgroundColour,
      color: props.theme.tertiaryTextColour,
    }),
  );
  
  const ItemWrapper = glamorous.div({
    display: 'flex',
    marginLeft: '8px',
    marginTop: '8px',
  });