<!DOCTYPE html>
<html lang="en-gb" class="theme-default">
  <head>
    <title>DJ Helper</title>
    <% if (process.env.NODE_ENV === 'development') { %>
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src http://localhost:1212; 
        script-src-elem http://localhost:1212 'nonce-4AEemGb0xJptoIGFP3Nd';
        frame-src https://bandcamp.com;
        style-src-elem http://localhost:1212 'nonce-4AEemGb0xJptoIGFP3Nd'; 
        font-src data: http://localhost:1212; 
        img-src http://localhost:1212; 
        connect-src *
      "
    />
    <% } else { %>
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self';
        script-src 'self';
        connect-src * data:;
        style-src 'self';
        font-src data: 'self';
        img-src data: 'self';
        frame-src *
      "
    />
    <% } %>
    <link rel="stylesheet" type="text/css" href="<%= stylesheetHref %>" nonce="4AEemGb0xJptoIGFP3Nd" />
  </head>
  <body>
    <div id="app" class="flex flex-col w-full h-full overflow-hidden"></div>
    <script defer src="<%= rendererSrc %>" nonce="4AEemGb0xJptoIGFP3Nd"></script>
  </body>
</html>
