<!DOCTYPE html>
<html lang="en-gb" class="theme-default">
  <head>
    <title>Morph Developer Console</title>
    <link rel="shortcut icon" href="/image/icon/morph.png" />
    <link rel="mask-icon" href="/image/icon/morph-silhouette.svg" color="#68c3e1" />
    <link rel="stylesheet" type="text/css" href="<%= stylesheetHref %>" />
    <style id="dynamic-styles"></style>
  </head>
  <body>
    <div id="app" class="flex flex-col w-full h-full overflow-hidden"></div>
    <script defer src="<%= rendererSrc %>"></script>
  </body>
</html>
